{:paths ["src" "resources"]
 :deps  {babashka/fs                   {:mvn/version "0.5.24"}
         io.github.borkdude/lein2deps  {:mvn/version "0.1.1"}
         io.github.clojure/tools.build {:mvn/version "0.10.8"}
         org.clojure/data.csv          {:mvn/version "1.1.0"}
         org.clojure/data.json         {:mvn/version "2.5.1"}
         org.clojure/tools.deps        {:mvn/version "0.23.1512"}}
 :aliases {:dev    {:extra-paths ["dev"]}
           :test   {:extra-paths ["test"]}
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                    :main-opts  ["-m" "kaocha.runner"]}
           :build  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}
                           slipset/deps-deploy           {:mvn/version "0.2.2"}}
                    :ns-default build}}
 :tools/usage {:ns-default scarlet.license-finder.tool}}
